* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: #9db9adfe;
    padding: 20px;
    /* box-shadow: rgba(235, 235, 236, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

.seach {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Top {
    display: flex;
    gap: 100px;
    align-items: center;
}



.input1 {
    height: 30px;
    width: 370px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.fa-magnifying-glass {
    margin-left: 10px;
}

h1 {
    margin: 0;
    font-size: 34px;
    color: #910946b9;
}

span {
    font-size: 20px;
    color: #cc3a15;
}

#button_cart {
    padding: 10px 15px;
    background-color: rgb(45, 140, 64);
    color: rgb(210, 225, 151);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #256a24;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: brown;
}

button:hover {
    background-color: rgb(215, 115, 202);
}

.sell {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.sell div {
    width: 340px;
    text-align: center;
}

.sell div img {
    box-shadow: rgba(209, 140, 21, 0.486) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.sell div span {
    display: none;
}

.sell div:hover {
    transform: scale(0.9);
    display: block;
}

.sell div:hover span {
    transform: scale(1.1);
    display: block;
}

.header__top__right__auth button {
    background-color: #cdb7b1;
    border-radius: 20px;
    border: none;
}

.header__top__right__auth ul {
    position: absolute;
    bottom: -110%;
    z-index: 5;
}

.header__top__right__auth ul {
    background-color: #d3cfdb;
    display: none;

}

.header__top__right__auth ul li a {
    color: rgb(199, 21, 39);


}

.header__top__right__auth:hover ul {
    display: block;

}

div p {
    font-size: 17px;
    color: #cf4a29;
    font-style: italic;
}

header {
    position: sticky;
    top: 0;
    z-index: 5;
}